@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.first {
    background-image: url(assets/mainpage.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    height: 500px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first .name {
    font-family: "Inter", serif;
    font-size: 17px;
    font-weight: 400;
}

.first .title-sentence {
    font-family: "Inter", serif;
    font-size: 65px;
    font-weight: 300;
}