/* @keyframes opac {from {opacity:0} to {opacity:1}} */
body, html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    /* animation:opac 0.8s */
}

.header {
    position: fixed;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 50;
}

.big_title {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

/* ------------------------ big title and image ------------------------ */
.above_header_title_section {
    color: white;
    height: calc(100% - 60px);
    margin-top: 68px;
    background: 
        linear-gradient(to right,
            rgba(0,0,0,0.8) 45%,
            rgba(0,0,0,0.7) 50%,
            rgba(0,0,0,0.5) 55%,
            rgba(0,0,0,0) 100%
        ),
        url("../icons/titlesection.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10%;
}

.title {
    font-size: 4rem;
    font-weight: bold;
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

/* ------------------------ responsive ------------------------ */
@media screen and (max-width: 768px) {
    .big_title {font-size: 25px;}
}