#menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#menu li {margin-left: 1.5rem;}

#menu a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    position: relative;
    padding-bottom: 5px;
}

#menu a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    border-radius: 2px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

#menu a:hover::after {transform: scaleX(0.8);}
#menu.show {max-height: 204px;}
#burger_menu {display: none;}

/* ------------------------ responsive ------------------------ */
@media screen and (max-width: 768px) {
    #menu {
        position: absolute;
        top: 65px;
        right: 2.5rem;
        border-radius: 5px;
        flex-direction: column;
        text-align: center;
        background-color: #313131;
        /* backdrop-filter: blur(7px); */
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
    }

    #menu li {
        align-items: center;
        padding: 1rem;
        margin-left: 0;
    }
    
    #burger_menu {
        margin-right: 10px;
        width: 40px;
        height: 40px;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #burger_menu span {
        width: 40px;
        height: 4px;
        background-color: white;
        border-radius: 4px;
        transition: all 0.3s ease-in-out;
    }

    #burger_menu.active span:nth-child(1) {transform: translateY(13.5px) rotate(45deg);}
    #burger_menu.active span:nth-child(2) {opacity: 0;}
    #burger_menu.active span:nth-child(3) {transform: translateY(-12.5px) rotate(-45deg);}
}